body {
  font-family: "Arial";
  text-align: center;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  margin: 0px;
}

h2 {
  color: #B56FC7;
}

p {
  margin-left: 300px;
  margin-right: 300px;
}

#welcome-section {
  padding: 50px 50px 20px 50px;
  color: #B56FC7;
}

iframe {
  border: 2px solid #B56FC7;
}

#work {
  font-size: 22px;
}

#navbar {
  list-style-type: none;
  background-color: black;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px 0px 10px 20px;
}

nav ul li a {
  color: #B56FC7;
  text-decoration: none;
}

nav ul li a:hover {
  color: #a7bfe8;
}

.Photography {
  border: 2px solid #B56FC7;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #B56FC7;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {
  background: #e4f1fe;
}

.work-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90c695;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

.work-details:hover {
  background: #e4f1fe;
}
